.about-section {
  max-width: 1440px;

  padding: 3rem 0;

  letter-spacing: 5px;
}

.about-header {
  margin: 0;

  font-family: 'Crystal Sky Alt';
  text-align: center;

  @include type-setting(7);
}

.about-text {
  margin: 0;

  font-family: 'Crystal Sky Caps';
  font-weight: bold;
  text-align: justify;
  letter-spacing: 1px;

  @include type-setting(1);
}
