.landingPage__wrapper-intro {
  margin-top: 90px; // Extra height of crystals in header.
  padding: 0 $Baseline $Baseline $Baseline;
  @media ( max-width: 400px ) {
    padding: 0 $Baseline / 2;
  }
}

.landingPage__wrapper-intro--text {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;

  font-family: 'Crystal Sky';
  h1 {
    align-self: flex-start;
    margin: 0;
    margin-top: $Baseline * 1.5;

    color: #a2555f;
    // background: rgba(255, 149, 172, .35);

    font-size: 25rem;
    line-height: 15rem;
    @media ( min-width: 1600px ) {
      margin-top: $Baseline * 3;
    }
    @media ( max-width: 900px ) {
      margin-top: 3rem;
      margin-bottom: -1rem;

      font-size: 20rem;
    }
    @media ( max-width: 750px ) {
      margin-top: 2rem;
      margin-bottom: -1.5rem;

      font-size: 18rem;
    }
    @media ( max-width: 750px ) {
      margin-top: 0;
    }
    @media ( max-width: 550px ) {
      margin-top: -1rem;
      margin-bottom: -2rem;

      font-size: 15rem;
    }
  }
}

.landingPage__wrapper-divider--horizontal {
  align-self: center;
  width: 80%;
  margin-left: $Baseline;

  background: #ada0a6;
  border: 1px solid #9d90a2;
  border-radius: 50%;

  transform: rotate(0deg);
  @media ( max-width: 750px ) {
    margin-left: $Baseline * 2;
  }
}

.landingPage__wrapper-desc {
  align-self: center;
  max-width: 60%;
  margin: 0;
  margin-top: $Baseline;

  color: #5c89ab;
  // background: rgba(177, 199, 184, .35); Place text absolute on relative background and cut background to crystal shapes?

  font-family: 'Crystal Sky Caps';
  font-weight: bold;

  @include type-setting(1);
  @media ( max-width: 750px ) {
    @include type-setting(0);
  }
  @media ( max-width: 550px ) {
    max-width: 100%;
    margin-top: $Baseline * 1.5;
  }
}

.landingPage__wrapper-menu {
  width: 100%;
  height: 260px;
  .menu-about {
    position: relative;

    width: 20rem;
    height: 100%;

    background: white;

    cursor: pointer;

    clip-path: polygon(25% 12%, 59% 21%, 91% 5%, 100% 64%, 71% 100%, 33% 95%, 6% 56%);
  }
  .menu-about__text {
    position: absolute;
    top: 50%;
    left: 50%;

    font-family: 'Crystal Sky Caps';
    font-weight: bold;

    transition: left .6s; // Transition back in after hover
    transform: translate(-40%, -40%);

    @include type-setting(5);
  }
  .menu-about__text--small {
    position: absolute;
    top: 58%;
    left: 61%;

    font-family: 'Crystal Sky Caps';
    font-size: 0;
    font-weight: bold;
    line-height: $Baseline * 3;

    transform: translate(-40%, -40%);
  }
}

.menu-about:hover .menu-about__text--small {
  animation: grow .8s .25s forwards;
}

.menu-about:hover .menu-about__text {
  left: 36%;

  transition: left .6s;
  /* IMPORTANT, IF TOUCHSCREEN TYPE OUT ENTIRE TEXT SINCE
     IT'S NOT POSSIBLE TO HOVER ON PHONES. */
}
