.work-section {
  max-width: 1440px;
  padding: 3rem 0;

  letter-spacing: 5px;
}

.work-header {
  margin: 0;

  font-family: 'Crystal Sky Alt';
  text-align: center;

  @include type-setting(7);

  @media ( max-width: 900px ) {
    @include type-setting(6);
  }

  @media ( max-width: 550px ) {
    @include type-setting(5);
  }
}

.work-text {
  margin: 0;

  font-family: 'Crystal Sky Caps';
  font-weight: bold;
  text-align: justify;
  letter-spacing: 1px;

  @include type-setting(1);

  @media ( max-width: 900px ) {
    @include type-setting(0);
  }

  @media ( max-width: 550px ) {
    @include type-setting(-1);
  }
}
