/* LEAGUE GOTHIC */
@font-face {
  font-family: 'Gothic Regular';
  src: url('../fonts/LeagueGothic/leaguegothic-regular-webfont.woff') format('woff'),
       url('../fonts/LeagueGothic/leaguegothic-regular-webfont.eot') format('embedded-opentype'),
       url('../fonts/LeagueGothic/leaguegothic-regular-webfont.svg') format('svg'),
       url('../fonts/LeagueGothic/leaguegothic-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Gothic Italic';
  src: url('../fonts/LeagueGothic/leaguegothic-italic-webfont.woff') format('woff'),
       url('../fonts/LeagueGothic/leaguegothic-italic-webfont.eot') format('embedded-opentype'),
       url('../fonts/LeagueGothic/leaguegothic-italic-webfont.svg') format('svg'),
       url('../fonts/LeagueGothic/leaguegothic-italic-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Gothic Condensed';
  src: url('../fonts/LeagueGothic/leaguegothic-condensed-regular-webfont.woff') format('woff'),
       url('../fonts/LeagueGothic/leaguegothic-condensed-regular-webfont.eot') format('embedded-opentype'),
       url('../fonts/LeagueGothic/leaguegothic-condensed-regular-webfont.svg') format('svg'),
       url('../fonts/LeagueGothic/leaguegothic-condensed-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Gothic Condensed Italic';
  src: url('../fonts/LeagueGothic/leaguegothic-condensed-italic-webfont.woff') format('woff'),
       url('../fonts/LeagueGothic/leaguegothic-condensed-italic-webfont.eot') format('embedded-opentype'),
       url('../fonts/LeagueGothic/leaguegothic-condensed-italic-webfont.svg') format('svg'),
       url('../fonts/LeagueGothic/leaguegothic-condensed-italic-webfont.ttf') format('truetype');
}

/* POPPINS */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Light';
  src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}


@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}


