// bower:scss
// endbower

// Baseline for fonts, margins etc.
$Baseline: 24px;

// Import fonts
@import 'fonts.scss';

// Import animations
@import 'animations.scss';

// Import modular stylesheets
@import '_header.scss';
@import '_landingPage.scss';

.browserupgrade {
  margin: .2em 0;
  padding: .2em 0;

  color: #000;
  background: #ccc;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;

  background: #fcffb4;

  line-height: $Baseline;
}
